{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "API Répertoire National des Métiers",
    "description" : "Le service d'interrogation de la base du RNM  permet d'obtenir les informations suivantes :\n* Générer un extrait pdf pour une entreprise en fournissant le SIREN\n* Renvoyer un fichier json des données de l'entreprise en fournissant le SIREN\n* Renvoyer la fiche de l'entreprise en fournissant le SIREN (format html)\n",
    "version" : "2.0.2"
  },
  "servers" : [ {
    "url" : "https://api-rnm.artisanat.fr/"
  } ],
  "paths" : {
    "/v2/entreprises/{siren}" : {
      "get" : {
        "summary" : "Renvoi un fichier JSON des données de l'entreprise en fournissant le SIREN",
        "description" : "Get document whith selected format JSON/HTML/PDF (default is JSON)",
        "parameters" : [ {
          "name" : "siren",
          "in" : "path",
          "description" : "The enterprise siren",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 9,
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "The document format",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "html", "pdf" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retour OK",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Entreprise"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request. Un siren doit comporter 9 caractères."
          },
          "404" : {
            "description" : "Le SIREN fournis est incorrect ou ne correspond pas à une entreprise artisanale"
          },
          "5XX" : {
            "description" : "Unexpected error"
          }
        },
        "servers" : [ {
          "url" : "https://api-rnm.artisanat.fr/"
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "Entreprise" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Identifiant interne de l’entreprise",
            "format" : "int64",
            "example" : 123456
          },
          "ent_id_num_gestion" : {
            "maxLength" : 11,
            "type" : "string",
            "description" : "Ce numéro de gestion se décompose en trois parties, selon le schéma suivant :\nEn partant de la droite, les trois premiers caractères donnent le code du département Les deux caractères suivants donnent l’année à laquelle le numéro a été attribué\n\nEt les six derniers sont dédiés au numéro incrémenté\n",
            "example" : "00012211035"
          },
          "ent_id_siren" : {
            "maxLength" : 9,
            "minLength" : 9,
            "type" : "string",
            "description" : "Le numéro SIREN est l’identifiant de l’unité légale. Il est composé de huit chiffres et d’un chiffre de contrôle qui permet de vérifier la validité du numéro. Pour le secteur privé, le numéro SIREN n’est pas significatif, il ne contient aucun code caractérisant l’activité ou la localisation des entreprises. Un numéro SIREN qui a été attribué à une unité légale ne sera plus jamais utilisé pour immatriculer une autre unité légale.\n",
            "example" : "123456789"
          },
          "ent_id_origine" : {
            "maxLength" : 1,
            "minLength" : 1,
            "type" : "string",
            "description" : "Cette variable reprend l’origine de l’établissement déclarée sur les liasses de type 0 ou 2.\n\n| Modalité | intitulé                |\n| -------- | ------------------------|\n| 1        |Création                 |\n| 3        |Achat                    |\n| 4        |Apport                   |\n| 6        |Prise en location gérance|\n| 7        |Partage                  |\n| 8        |Reprise                  |\n| F        |Gérance - mandat         |\n"
          },
          "ent_adr_numero_voie" : {
            "type" : "string",
            "nullable": true,
            "description" : "Numéro dans la voie"
          },
          "ent_adr_indice_repetition" : {
            "maxLength" : 1,
            "minLength" : 1,
            "type" : "string",
            "description" : "Indice de répétition dans la voie"
          },
          "ent_adr_type_voie" : {
            "maxLength" : 4,
            "minLength" : 0,
            "type" : "string",
            "description" : "Type de voie"
          },
          "ent_adr_adresse" : {
            "maxLength" : 32,
            "minLength" : 1,
            "type" : "string",
            "description" : "Libellé de voie ou lieu-dit"
          },
          "ent_adr_adresse_complement" : {
            "maxLength" : 38,
            "minLength" : 0,
            "type" : "string",
            "description" : "Complément d’adresse"
          },
          "ent_adr_code_postal" : {
            "maxLength" : 9,
            "minLength" : 9,
            "type" : "string",
            "description" : "Code postal"
          },
          "ent_adr_commune" : {
            "maxLength" : 32,
            "minLength" : 1,
            "type" : "string",
            "description" : "Libellé de localité"
          },
          "ent_adr_commune_cog" : {
            "maxLength" : 5,
            "minLength" : 5,
            "type" : "string",
            "description" : "Identifiant de localisation COG"
          },
          "ent_act_code_nafa_principal" : {
            "maxLength" : 6,
            "minLength" : 6,
            "type" : "string",
            "description" : "C’est le code issu de la Nomenclature des Activités Françaises de l’Artisanat (NAFA Rèv2) pour l’activité principale au RM."
          },
          "ent_act_code_nafa_secondaire_1" : {
            "maxLength" : 6,
            "type" : "string",
            "description" : "C’est le code issu de la Nomenclature des Activités Françaises de l’Artisanat (NAFA Rèv2) pour l’activité principale au RM.",
            "nullable" : true
          },
          "ent_act_code_nafa_secondaire_2" : {
            "maxLength" : 6,
            "type" : "string",
            "description" : "C’est le code issu de la Nomenclature des Activités Françaises de l’Artisanat (NAFA Rèv2) pour l’activité principale au RM.",
            "nullable" : true
          },
          "ent_act_code_nafa_secondaire_3" : {
            "maxLength" : 6,
            "type" : "string",
            "description" : "C’est le code issu de la Nomenclature des Activités Françaises de l’Artisanat (NAFA Rèv2) pour l’activité principale au RM.",
            "nullable" : true
          },
          "ent_act_date_immat_rm" : {
            "type" : "string",
            "description" : "Cette variable est la date d’immatriculation au Répertoire des Métiers.",
            "format" : "date-time",
            "nullable" : true
          },
          "ent_act_date_radiation" : {
            "type" : "string",
            "description" : "Cette variable est la date de radiation du Répertoire des Métiers. Cette date est soit déclarative ou d’office.",
            "format" : "date-time",
            "nullable" : true
          },
          "ent_act_date_debut_activite" : {
            "type" : "string",
            "description" : "Cette variable est la date de début d’activité déclarée par le dirigeant lors de son immatriculation.",
            "format" : "date-time",
            "nullable" : true
          },
          "ent_act_date_cessation_activite" : {
            "type" : "string",
            "description" : "Cette variable est la date de cessation d’activité de la personne morale hors dissolution, appelée mise en sommeil.",
            "format" : "date-time",
            "nullable" : true
          },
          "ent_act_date_cloture_liquidation" : {
            "type" : "string",
            "description" : "Cette variable est la date de clôture de la liquidation déclarée lors de la dissolution de la personne morale.",
            "format" : "date-time",
            "nullable" : true
          },
          "ent_act_date_transfert_patrimoine" : {
            "type" : "string",
            "description" : "Cette variable est la date de transfert de patrimoine  à l'associé unique restant. Cette dissolution de la personne morale résulte du rassemblement de toutes les parts en une seule main.",
            "format" : "date-time",
            "nullable" : true
          },
          "ent_act_date_dissolution" : {
            "type" : "string",
            "description" : "Cette variable est la date de dissolution de la personne morale.",
            "format" : "date-time",
            "nullable" : true
          },
          "ent_act_modalite_exercice" : {
            "maxLength" : 2,
            "minLength" : 1,
            "type" : "string",
            "description" : "Cette variable indique si l’entreprise a une activité permanente ou saisonnière.\nL’activité est dite saisonnière si chaque année, l’entreprise cesse totalement ses activités pendant plus de 3 mois consécutifs.\n\n| Modalité | intitulé      |\n| -------- | --------------|\n| P        |Permanente     |\n| S        |Saisonnière    |\n| NR       |Non renseignée |\n"
          },
          "ent_act_non_sedentaire" : {
            "type" : "string",
            "nullable": true,
            "description" : "Cette variable indique si l’entreprise a une activité ambulante."
          },
          "ent_act_activite_artisanales_declarees" : {
            "maxLength" : 420,
            "minLength" : 0,
            "type" : "string",
            "description" : "C’est l’activité pour laquelle l’entreprise a demandé son inscription au répertoire des métiers. Cette variable présente la déclaration libre des activités principales NB : Source d’information : la variable est reprise à l’identique de la liasse déclarative (variable E71 selon la norme d’échange). \n",
            "nullable" : true
          },
          "ent_act_denomination_sociale" : {
            "maxLength" : 120,
            "minLength" : 0,
            "type" : "string",
            "description" : "C’est la désignation qui permet d’identifier une société qui possède la personnalité morale et qui permet de la distinguer des autres personnes morales et de ses associés. Toutes les sociétés commerciales, sociétés en nom collectif, sociétés en commandite simple ou par actions, sociétés à responsabilité limitée, sociétés anonymes, sociétés par actions simplifiées, sont désignées par une dénomination sociale donnée au vu de la nature de l’activité commerciale exercée ou de toute autre caractéristique, géographique par exemple, ou d’après un nom de fantaisie. La société civile est désignée par une raison sociale qui comporte tous les (ou une partie) noms des associés indéfiniment responsables qui la composent. La dénomination sociale comme la raison sociale figure dans les statuts de la société. La société en participation qui ne possède pas la personnalité morale ne peut avoir ni dénomination sociale, ni raison sociale au sens du code du commerce. Par convention, elle sera identifiée dans le répertoire avec le sigle SEP suivi soit de la dénomination d’une ou plusieurs sociétés la composant, soit d’une indication de localisation, soit d’une activité. Par convention également, les  entités  du secteur public sont identifiées par la dénomination complète de l’organisme telle qu’elle figure dans le texte (loi, décret, arrêté) actant la création.\n",
            "nullable" : true
          },
          "ent_act_sigle" : {
            "maxLength" : 20,
            "minLength" : 0,
            "type" : "string",
            "description" : "Un sigle est une forme réduite de la raison sociale ou de la dénomination d’une personne morale ou d’un organisme public. Il est habituellement constitué des initiales de certains des mots de la dénomination. Afin d’en faciliter la prononciation, il arrive qu’on retienne les deux ou trois premières lettres de certains mots : il s’agit alors, au sens strict, d’un acronyme ; mais l’usage a étendu à ce cas l’utilisation du terme sigle.\n",
            "nullable" : true
          },
          "ent_act_forme_juridique" : {
            "maxLength" : 4,
            "minLength" : 0,
            "type" : "string",
            "description" : "Pour les personnes morales de droit privé, on détermine la Catégorie Juridique à partir de la rubrique « Forme Juridique » de la norme fonctionnelle d’échanges (Fiche 31).",
            "nullable" : true
          },
          "ent_eff_salarie" : {
            "type" : "integer",
            "format" : "int64"
          },
          "ent_eff_apprenti" : {
            "type" : "integer",
            "format" : "int64"
          },
          "ent_jug_procedures" : {
            "maxLength" : 3000,
            "minLength" : 0,
            "type" : "string",
            "description" : "Cette variable présente :\n*  les déclarations de cessation des paiements et les décisions intervenues dans les procédures de règlement judiciaire et de liquidation des biens en application de la loi n° 67-563 du 13 juillet 1967\n*  les déclarations intervenues dans les procédures ouvertes en application de l'ordonnance n° 67-820 du 23 septembre 1967 tendant à faciliter le redressement économique et financier.\n*  les déclarations de cessation des paiements et les décisions suivantes intervenues dans les procédures de redressement ou de liquidation judiciaires des entreprises ouvertes avant le 1er janvier 2006 en application du code de commerce.\n*  les déclarations intervenues dans les procédures de sauvegarde, de redressement judiciaire ou de liquidation judiciaire ouvertes à compter du 1er janvier 2006.\n",
            "nullable" : true
          },
          "gest_maj_fichier" : {
            "type" : "string",
            "description" : "Cette variable est la date d’import des données dans la base de l’API.",
            "format" : "date-time",
            "nullable" : true
          },
          "gest_date_maj" : {
            "type" : "string",
            "description" : "Cette variable est la date de la dernière mise à jour de l’entreprise.",
            "format" : "date-time",
            "nullable" : true
          },
          "dir_qa_qualification" : {
            "maxLength" : 30,
            "minLength" : 0,
            "type" : "string",
            "description" : "Cette variable indique la qualification artisanale de l’entrepreneur. ARTISAN MAITRE et ARTISAN MAITRE METIERS D’ART sont spécifiques à l’Alsace et à la Moselle.\n",
            "enum" : [ "ARTISAN", "MAITRE ARTISAN", "ARTISAN D’ART", "MAITRE ARTISAN D’ART", "SANS QUALIFICATION", "ARTISAN MAITRE", "ARTISAN MAITRE METIERS D’ART" ]
          },
          "dir_id_nom_naissance" : {
            "maxLength" : 100,
            "minLength" : 0,
            "type" : "string",
            "description" : "C’est le nom de famille dévolu à la personne le jour de la déclaration de sa naissance. Ce peut être soit le nom du père, soit le nom de la mère, soit leurs deux noms accolés dans l’ordre choisi par eux dans la limite d’un nom de famille pour chacun d’eux (Article 311-21 du code civil). C’est le nom qui figure au registre de l’état civil. Cette législation est récente et a pris effet au 1er  septembre 2003. Avant cette date, le nom de la personne pouvait être qualifié de nom de naissance ou nom patronymique.\n"
          },
          "dir_id_nom_usage" : {
            "maxLength" : 100,
            "minLength" : 0,
            "type" : "string",
            "description" : "Le nom d’usage est celui que la personne a choisi d’utiliser.\n*  Toute personne majeure peut ajouter à son nom, le nom de celui de ses parents qui ne lui a pas transmis le sien, *  Toute personne mariée (homme ou femme) peut ajouter à son nom celui du conjoint ou faire précéder son nom du nom du conjoint ou utiliser le seul nom de son conjoint.\nC’est l’article 43 de la loi n° 85-1372 du 23 décembre 1985, relative à l’égalité des époux dans les régimes matrimoniaux et des parents dans la gestion des biens des enfants mineurs, qui définit le nom d’usage. Le nom d’usage ne figure ni à l’état civil ni sur le livret de famille, l’intéressé doit informer ses interlocuteurs de sa volonté d’être identifié de cette manière en présentant les pièces justificatives nécessaires.\n"
          },
          "dir_id_prenom_1" : {
            "maxLength" : 20,
            "minLength" : 0,
            "type" : "string",
            "description" : "C’est le (ou les) prénom(s) qui figure(nt) au registre de l’état civil."
          },
          "dir_id_prenom_2" : {
            "maxLength" : 20,
            "minLength" : 0,
            "type" : "string",
            "description" : "C’est le (ou les) prénom(s) qui figure(nt) au registre de l’état civil."
          },
          "dir_id_prenom_3" : {
            "maxLength" : 20,
            "minLength" : 0,
            "type" : "string",
            "description" : "C’est le (ou les) prénom(s) qui figure(nt) au registre de l’état civil."
          },
          "dir_id_pseudonyme" : {
            "maxLength" : 20,
            "minLength" : 0,
            "type" : "string",
            "description" : "C’est le nom qu’une personne utilise pour se désigner dans l’exercice de son activité, généralement littéraire ou artistique. Le pseudonyme est protégé, comme le nom de famille, contre l’usurpation venant d’un tiers."
          },
          "dir_id_date_naissance" : {
            "type" : "string",
            "description" : "Cette variable est la date de naissance de la personne physique.",
            "format" : "date",
            "nullable": true
          },
          "dir_id_lieu_naissance" : {
            "maxLength" : 35,
            "minLength" : 0,
            "type" : "string",
            "description" : "C’est le libellé en clair de la commune/pays de naissance."
          },
          "eirl_init_nom_registre" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "En cas de double immatriculation, cette variable indique le choix du registre où est déposée la déclaration d’affectation de patrimoine\n\n|Modalité|Intitulé|\n|--------|--------|\n|1       |RCS     |\n|2       |RM      |\n",
            "nullable" : true
          },
          "eirl_denomination" : {
            "maxLength" : 120,
            "minLength" : 0,
            "type" : "string",
            "description" : "C’est la dénomination de l’EIRL. Elle incorpore le nom de l’entrepreneur précédé ou suivi immédiatement des mots : « Entrepreneur Individuel à Responsabilité Limitée » ou des initiales : « EIRL ».\n",
            "nullable" : true
          },
          "eirl_objet_dap" : {
            "maxLength" : 420,
            "minLength" : 0,
            "type" : "string",
            "description" : "C’est l’objet de l’activité professionnelle à laquelle le patrimoine est affecté.",
            "nullable" : true
          },
          "eirl_date_depot" : {
            "type" : "string",
            "description" : "Cette variable correspond à la date d’effet du dépôt de la déclaration d’affectation de patrimoine.",
            "format" : "date-time",
            "nullable" : true
          },
          "gest_nar_4" : {
            "maxLength" : 120,
            "minLength" : 0,
            "type" : "string",
            "description" : "Cette variable est l’intitulé du secteur d’activité selon le code NAR 4."
          },
          "gest_nar_20" : {
            "maxLength" : 120,
            "minLength" : 0,
            "type" : "string",
            "description" : "Cette variable est l’intitulé du secteur d’activité selon le code NAR 20."
          },
          "gest_libelle_code_nafa" : {
            "maxLength" : 120,
            "minLength" : 0,
            "type" : "string",
            "description" : "Cette variable est le libellé du code NAFA."
          },
          "gest_dept" : {
            "maxLength" : 50,
            "minLength" : 1,
            "type" : "string",
            "description" : "Département de l’entreprise."
          },
          "gest_reg" : {
            "maxLength" : 50,
            "minLength" : 1,
            "type" : "string",
            "description" : "Région de l’entreprise."
          },
          "gest_emetteur" : {
            "maxLength" : 50,
            "minLength" : 1,
            "type" : "string",
            "description" : "Code du CFE qui a inscrit l’entreprise."
          },
          "gest_categorie" : {
            "type" : "string",
            "description" : "pp pour personne physique et pm pour personne morale",
            "enum" : [ "pp", "pm" ]
          },
          "gest_label_forme_juridique" : {
            "maxLength" : 255,
            "minLength" : 1,
            "type" : "string",
            "description" : "Intitulé de la forme juridique"
          },
          "epci" : {
            "maxLength" : 255,
            "minLength" : 1,
            "type" : "string",
            "description" : "Libellé de l’établissement public de coopération intercommunale correspondant au code officiel géographique de l’entreprise."
          },
          "ent_act_code_apen" : {
            "maxLength" : 5,
            "minLength" : 0,
            "type" : "string",
            "description" : "C’est le code issu de la Norme des Activités des Entreprises de l’INSEE, définissant l’Activité Principale de l’Entreprise."
          }
        },
        "description" : "Schema de l'entreprise "
      }
    }
  }
}