@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyBlackford-Regular";
  src: url("fonts/MyBlackford-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* default background color */
  @apply bg-light;
  @apply dark:bg-richblack;

  /* default text color */
  @apply text-richblack;
  @apply dark:text-light;

  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.button {
  @apply transition-colors;
  @apply duration-300;
  @apply bg-primary;
  @apply hover:bg-secondary;
  @apply rounded-full;
  @apply font-bold;
  @apply px-4;
  @apply py-2;
}